* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    font-family: 'Italianno', cursive;
    height: 100%;
    width: 100%;
    padding: 0px;
    overflow-x: hidden;
}

.header_top {
    background-color: #FFC0D0; 
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 100;
}

.head_link div {
    width: 100px;
    height: 50px;
}

.links {
    text-decoration: none;
    color: black;
    font-size: 160%;
    font-weight: bolder;
}

.links:hover {
    text-shadow: 1px 1px darkgray;
}

.closebtn, .openbtn {
    display: none;
}

.header {
    position: relative;
    background-color: #FFE0E0;             /* FFEEDB */
    text-align: center;
    padding: 4%;
}

.title {
    font-family: 'Italianno', cursive;
    font-size: 150px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px darkgray;
}

img {
    height: 45%;
    width: 45%;
    object-fit:fill
}

.header .top_corner {
    position: absolute;
    top: 0px;
    right: 0px;
}

.header .bottom_corner {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.edward_quote {
    text-align: center;
    font-size: 90px;
    font-weight: 800;
}

.edward_name {
    text-align: end;
    margin-right: 10%;
    font-size: 40px;
    margin-top: -5%;
}

.web_body {
    background-color: #FFC0D0; /* FFCDCD */
    padding: 1%;
    position: relative;
    top: 50px;
}

.explore {
    font-size: 240%;
    position: absolute;
    bottom: 30%;
}

@media (max-width: 605px) {
    .title {
        font-size: 70px;
    }

    .edward_quote {
        font-size: 30px;
    }

    .edward_name {
        font-size: 20px;
    }

    .explore {
        font-size: 110%;
        bottom: 25%;
    }
}

@media (min-width: 1001px) {
    .header_top {
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
    }

    .head_link {
        display: flex;
        position: relative;
        left: 67%;
    }

    .header {
        top: 0%;
    }

    .web_body {
        top: 0%;
    }
}

@media (max-width: 1000px) {
    .sidepanel  {
        width: 0;
        position: fixed;
        z-index: 1;
        height: 250px;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 0px;
      }
      
      .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidepanel a:hover {
        color: #f1f1f1;
      }
      
      .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
      }
      
      .openbtn {
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        background-color: #FFC0D0; /* FFCDCD */
        color: black;
        padding: 10px 15px;
        border: none;
        position: absolute;
        top: 0px;
        right: 0px;
      }
      
      .openbtn:hover {
        background-color:#FFEEDB;
      }

      .closebtn {
        display: inline-block;
      }

      .header {
        top: 6.6%;
      }

      .web_body {
          top: 6.5%;
      }

      .head_link {
          flex-direction: column;
      }
}

@media (min-width: 1001px) and (max-width: 1230px) {
    .head_link {
        left: 50%;
    }
}
